{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"plugins": ["@ianvs/prettier-plugin-sort-imports"],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"",
		"^@/components/(.*)$",
		"",
		"^@/pages/(.*)$",
		"",
		"^@/hooks/(.*)$",
		"",
		"^@/api/(.*)$",
		"",
		"^@/utils/(.*)$",
		"",
		"^@/store/(.*)$",
		"",
		"^@/types/(.*)$",
		"",
		"^@/assets/(.*)$",
		"",
		"^../(.*)$",
		"",
		"^./(.*)$"
	]
}
